<div class="inboxElm">

    <div class="inboxMain">

        <div class="inboxLeft">
          
            <div class="inboxTopL">
                <strong>{{currentUserName}} </strong>
            </div>

            <div class="inboxContainerL" >
                <div class="friend" *ngFor="let friend of friends" (click)="getId(friend.uid,$event.target,friend.displayName,friend.url)" >
                    <ngx-skeleton-loader count="1" *ngIf="friendsLoaded"  appearance="circle"></ngx-skeleton-loader>
                    <div class="iconFriend" *ngIf="!friendsLoaded">  
                        
                       <img src="{{friend.url}}"  >
                                          
                       
                    </div>
                 
                    <ngx-skeleton-loader
                    count="1"
                    [theme]="{ 
                      'border-radius': '5px',
                      height: '20px',
                      width:'100px',
                      'background-color': '#d3d3d32a',
                      border: '0px solid white'
                    }"

                    *ngIf="namesLoaded"
                  ></ngx-skeleton-loader>
                    <div class="nameFriend" *ngIf="!namesLoaded">
                        <p>{{friend.displayName}}</p>
                    </div>
                </div>

            </div>

        </div>
        <div class="inboxRight">
            <div class="inboxTopR">
                <div class="iconFriendRight" >
                    <img src="{{friendUrl}}" *ngIf="friendUrl.length>0">
                 </div>
                 <div class="nameFriendRight">
                     <p>{{friendName}}</p>
                 </div>
            </div>
            <div class="inboxContainerR">
                <div class="chatSection" #elm>
                      <div *ngIf="focused;else nonFocused;" class="focusedArea" >
                        <img src="./../../assets/mess.png">
                        <p>
                            Send private photos and messages to a friend or group.
                        </p>
                      </div>
                      <ng-template #nonFocused>
             
                      <div *ngFor="let p of messagesList" class="messagesListo">

                            <div  *ngIf="p.user!=cuuid;else other;" class="lefter">
                                
                                <div class="boxi">
                                        <div class="userboxi" style="background-image: url({{friendUrl}});">
                                        </div>
                                        
                                        <p> 
                                            {{p.value}}
                                        </p>
                                        
                                       
                                </div>
                          

                                </div>

                                <ng-template #other>
                                <div class="righter">
                                    <div class="boxi">
                                            <p class="xp">
                                                {{p.value}}
                                            </p>
                                    </div>
                                </div> 
                                </ng-template>                       
                            </div>
                        </ng-template>
               
                 
                 
                </div>
                <div class="inputSection">
                        <emoji-mart (emojiClick)="addEmoji($event)"
                        class="emoji"
                        *ngIf="showEmojis;"
                        ></emoji-mart> 
                     <div class="holder">
                     

                        <div class="holdbtn" (click)="toggleEmojis()" style="cursor:pointer;">
                            <svg aria-label="Emoji" class="_8-yf5 " color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 48 48" width="24"><path d="M24 48C10.8 48 0 37.2 0 24S10.8 0 24 0s24 10.8 24 24-10.8 24-24 24zm0-45C12.4 3 3 12.4 3 24s9.4 21 21 21 21-9.4 21-21S35.6 3 24 3z"></path><path d="M34.9 24c0-1.4-1.1-2.5-2.5-2.5s-2.5 1.1-2.5 2.5 1.1 2.5 2.5 2.5 2.5-1.1 2.5-2.5zm-21.8 0c0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5-1.1 2.5-2.5 2.5-2.5-1.1-2.5-2.5zM24 37.3c-5.2 0-8-3.5-8.2-3.7-.5-.6-.4-1.6.2-2.1.6-.5 1.6-.4 2.1.2.1.1 2.1 2.5 5.8 2.5 3.7 0 5.8-2.5 5.8-2.5.5-.6 1.5-.7 2.1-.2.6.5.7 1.5.2 2.1 0 .2-2.8 3.7-8 3.7z"></path></svg>
                        </div>

                        <input type="text" #inp (input)="messageValue=$any($event.target).value" placeholder="Message ..." (keypress)="send($event)" >
                    
                     </div>
                </div>
            </div>
        </div>

    </div>

</div>