<div class="xyz">


            
        <div *ngFor="let post of Posts">
            <div class="post"  >
                <div class="head">
                    <div class="profileHead">

                        <img src="./../../assets/default.jpg" *ngIf="!post.userProfileImg;else otherImg;">
                        <ng-template #otherImg>
                            <img src={{post.userProfileImg}} >
                        </ng-template>
                    
                    </div>

                    <ng-template #otherName>
                        <ngx-skeleton-loader
                        count="1"
                        [theme]="{ 
                        'border-radius': '0px',
                        height: '20px',
                        width:'50px',
                        'background-color': '#868686',
                        border: '0px solid white'
                        }"
                        ></ngx-skeleton-loader>
                    </ng-template>
                    <p style="cursor:pointer;" class="userName" *ngIf="post.whoAddPost;else otherName;" [routerLink]="['/dashboard/anotherUser', post.userDocId]">{{post.whoAddPost}}</p>
                    


                </div>

                <ngx-skeleton-loader
                class="xs"
                *ngIf="loader;"
                count="1"
                [theme]="{ 
                'border-radius': '0px',
                height: '614px',
                width:'614px',
                'background-color': '#d3d3d32a',
                border: '0px solid white'
                }"
            ></ngx-skeleton-loader>

            
                        <div class="data" 
                            *ngIf="!loader"
                             >
  
                                <video data-src="{{post.postUrl}}" controls *ngIf="!checkImageOrNot(post.postUrl);" id="{{post.userDocId}}"
                                    (click)="togglePlay($event)" value="false"
                                ></video>
                         
                                <img data-src={{post.postUrl}} *ngIf="checkImageOrNot(post.postUrl);"  id="{{post.userDocId}}"> 

                            <!-- Extras UnderDev-->
                            <div class="heartAnim" (mousedown)="runAnim($event,post.postId)" >

                                <div class="hide">
   
             
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="256" height="256" viewBox="0 0 256 256" xml:space="preserve">
                                        <desc>Created with Fabric.js 1.7.22</desc>
                                        <defs>
                                        </defs>
                                        <g transform="translate(128 128) scale(0.72 0.72)" style="">
                                            <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(-175.05 -175.05000000000004) scale(3.89 3.89)" >
                                            <path d="M 7.486 13.502 c 9.982 -9.982 26.165 -9.982 36.147 0 L 45 14.869 l 0 0 c 6.895 22.882 6.259 47.092 0 72.294 L 26.927 69.089 c 0 0 0 0 0 0 l -19.44 -19.44 C -2.495 39.667 -2.495 23.484 7.486 13.502 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(215,90,74); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                            <path d="M 82.514 13.502 c -9.982 -9.982 -26.165 -9.982 -36.147 0 L 45 14.869 l 0 0 v 72.294 l 18.073 -18.073 c 0 0 0 0 0 0 l 19.44 -19.44 C 92.495 39.667 92.495 23.484 82.514 13.502 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(215,90,74); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                        </g>
                                        </g>
                                    </svg>


                                </div>

                            </div>
                            <!-- Extras UnderDev-->
                        </div>
               
                      
                
                      


                <div class="ExtraPostButtons">
                    <div class="likeBtn">
                        <img src="./../../assets/red.png" *ngIf="post.likes.includes(currentUid);else noLikes;">
                        <ng-template #noLikes>
                            <img src="./../../assets/redBlack.png" (click)="getPostId(post.postId)"    >
                        </ng-template>
                    </div>
                </div>
                <div class="likesList">
                    <p>{{post.likes.length}} likes</p>
                </div>
                <div class="comments">
                    <div class="listComments">
                        <!-- <button id="showHideComments" (click)="toggleCommentsNow()">View all Comments</button> -->
                        <div class="mycomments" *ngFor="let comment of post.comments">
                            <!-- <li>{{comment.value}} by {{comment.commentor}}</li> -->
                            <p class="comment"> 
                                <strong>{{comment.commentor}}</strong>
                                {{comment.value}}
                            </p>
                        </div>

                    </div>
                    
                    <div class="addComment">
                        <input type="text" placeholder="Add a Comment ... " (input)="commentValue=$any($event.target).value">
                        <button (click)="addComment($event.target)"  id={{post.userDocId}} value="{{post.postId}}" >Post </button>
                    </div>
                </div>
            </div>
        </div>

  

</div>