.homeComp{
    background-color: #FAFAFA;
    width:100%;
    height:100%;

    display:flex;
    justify-content:center;
    align-items: center;


}
.homeLeft
{
    width:65%;
    height:auto;
    position:absolute;
    left:0px;
    top:50px;

    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:flex-end;
    background-color:#FAFAFA;
    margin-right: 10px;
    /* background-color:blue; */



}
.homeComps{
    width:auto;
    height:auto;
    

    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:space-around;
    background-color:#FAFAFA;

    margin-left: 6%;



}

.stories{
    width:614px;
    border:1px solid lightgray;
    background-color:white;
    height:130px;
    margin-top: 30px;


    display:flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-direction:column;



}
.rowise{
    width:100%;
    height:100%;

    display:flex;
    align-items:center;
    overflow-x: scroll;
    overflow-y: none;
}
::-webkit-scrollbar{
    display:none;
}
.addElm{
    width:100px;
    height:100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.xelm{
    width:90px;
    height:100%;

    
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;

    

}

.ximg{
    width:60px;
    height:60px;
    border-radius: 100%;
    margin-bottom: 10px;
    
    background:linear-gradient(to right, red, purple);
    
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;

}
.ximg img{
    width:90%;
    height:90%;
    border-radius: 100%;
    border:2px solid white;
    object-fit: cover;
    object-position: center;
}
.xelm p{

    font-family: sans-serif;
    font-size:12px;
}
.hide{
    display:none;
}
.show{
    display:block;
}




progress::-webkit-progress-value { background: #008afc; }
progress::-webkit-progress-bar {background-color: white; width: 100%;}

 progress{
    width:100%;
    height:3px;
    border:none;
    color: #008afc !important;
    background-color: #008afc !important;
    transition:1s ease-in-out;

}


 .yourAdd{
    margin-top: 10px;
    margin-left: 20px;
    width:60px;
    height:60px;
    border-radius: 100%;
    display:flex;
    opacity:0.9;
    justify-content:center;
    align-items: center;
    /* background:linear-gradient(pink,purple,rgba(255, 0, 0, 0.671));
     */
     background:linear-gradient(to right, red, purple);
    margin-bottom: 10px;
}
.adding{
    width:93%;
    height:93%;
    border-radius: 100%;
    background-color:white;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

}

.adding .choose{
    background-color: white;
    width:100%;
    height:100%;
    border-radius: 100%;
    border:1px solid white;
    cursor:pointer;
    outline:none;
}

 .ubtn{
    width: 80px;
    margin-left: 10px;
    cursor:pointer;


    background-color: #0095F6;
    border-radius: 3px;
    border:none;
    color:white;
    padding: 5px;
    border:1px solid #0095F6;

    font-weight: bold;
    height:30px;

    
    
}
.xp{
    width:100%;
    height:100%;
    color:white;
    
}
















.homeRight{
    width:35%;
    height:100%;
    background-color:#FAFAFA;
    /* background-color: red; */
    position:fixed;
    right:0px;
    top:50px;

    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: center;


}
.topHomeRight{
    width:100%;
    height:100px;
    margin-top: 30px;

    display:flex;
    align-items:center;
}
.userLogo{
    width:55px;
    height:55px;

    border-radius: 100%;
}
.userLogo img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position:center;
    border-radius:100%;
}
.info{
    width:auto;
    height:100%;
    text-align: center;
    font-family:sans-serif;
    font-weight:bolder;

    display: flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 10px;
}
.topHomeRight button{
    cursor:pointer;


    color: #0095F6;
    border-radius: 3px;
    border:none;
    padding: 5px;
    background-color:transparent;    
    font-weight: bold;
    margin-left: 30px;
}





.suggest {
    width:100%;
    height:auto;
    /* border:1px solid red; */

    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;



}
.suggest p{
    font-family: sans-serif;
    font-weight: bolder;
    color:rgba(0, 0, 0, 0.466);
}
.suggestList{
    width:100%;
    height:auto;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    margin-top: 20px;
    /* border:1px solid green; */
    overflow-x: none;
    overflow-y: scroll;

}
.userX{
    width:100%;
    margin: 5px;
    height:auto;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-start;
    /* border:1px solid green; */

}
.userX img{
    width:50px;
    height:50px;
    border-radius: 100%;
    object-fit: cover;
    border:0.5px solid rgba(211, 211, 211, 0.205);
    object-position: center;
}
.userX p{
    margin-left: 20px;
    width:120px;
    color: black;
}
.userX .btn{
    color: #0095F6;
    border-radius: 3px;
    border:none;
    padding: 5px;
    background-color:transparent;    
    font-weight: bold;
    margin-left: 30px;
    font-size: 12px;
    cursor:pointer;
}
.posts{
    width:100%;height:100%;
}

.extras{
    width:100%;
    height:100px;
    /* border:1px solid black; */
    margin-top:30px;
}
.extrasDetails{
    display:flex;
    flex-direction:row;
    font-size:12px;
   
    font-family: sans-serif;
}
.extrasDetails a{
    color:rgba(90, 90, 90, 0.527);
    text-decoration: none;
    margin-right:10px;
}
.copy{
    color:rgba(90, 90, 90, 0.527);

    font-family: sans-serif;
    font-size:10px;

    display:flex;flex-direction:row;
    align-items:center;
    width:100%;
    height:50px;

}


@media screen and (max-width:985px){
    .homeRight{
        display:none;

    }
    .homeLeft{
        width:100%;
        justify-content:center;
    }
    .homeComps{
        margin-left: 0%;
    }
}

@media screen and (max-width:631px){
    .homeComps{
        width:100%;
    }
    .stories{
        width:100%;
        margin-top: 0;
        border:none;
    }
    
}

