
<div class="homeComp">
    <div class="homeLeft">
        <div class="homeComps">


            <div class="stories">
                <progress value="{{progressValue}}" max="100" min="0"></progress>

                <div class="rowise">

                    <div class="addElm">
                        <div class="yourAdd">
                            <div class="adding">
                                <input #fileUpload (change)="onFileSelected($event)" type="file" accept="image/*,video/*" hidden id="fileChooser" (input)="postFile=$any($event.target).value"  />
                                <button class="choose" (click)="fileUpload.click()">
                                    <svg aria-label="New post" class="_8-yf5 " color="#262626" fill="#262626" height="22" role="img" viewBox="0 0 48 48" width="22"><path d="M31.8 48H16.2c-6.6 0-9.6-1.6-12.1-4C1.6 41.4 0 38.4 0 31.8V16.2C0 9.6 1.6 6.6 4 4.1 6.6 1.6 9.6 0 16.2 0h15.6c6.6 0 9.6 1.6 12.1 4C46.4 6.6 48 9.6 48 16.2v15.6c0 6.6-1.6 9.6-4 12.1-2.6 2.5-5.6 4.1-12.2 4.1zM16.2 3C10 3 7.8 4.6 6.1 6.2 4.6 7.8 3 10 3 16.2v15.6c0 6.2 1.6 8.4 3.2 10.1 1.6 1.6 3.8 3.1 10 3.1h15.6c6.2 0 8.4-1.6 10.1-3.2 1.6-1.6 3.1-3.8 3.1-10V16.2c0-6.2-1.6-8.4-3.2-10.1C40.2 4.6 38 3 31.8 3H16.2z"></path><path d="M36.3 25.5H11.7c-.8 0-1.5-.7-1.5-1.5s.7-1.5 1.5-1.5h24.6c.8 0 1.5.7 1.5 1.5s-.7 1.5-1.5 1.5z"></path><path d="M24 37.8c-.8 0-1.5-.7-1.5-1.5V11.7c0-.8.7-1.5 1.5-1.5s1.5.7 1.5 1.5v24.6c0 .8-.7 1.5-1.5 1.5z"></path></svg>
                                </button>
                            </div>
                        </div>

                        <button [ngClass]="{show:showUploadBtn===true,hide:showUploadBtn===false}" class="ubtn" (click)="addPost()" >
                            <span class="xp"*ngIf="showAnim"  >
                                Loading...
                            </span>
                            <span *ngIf="!showAnim">Upload</span>
                        </button>
                        
                    </div>

                    <div *ngFor="let story of stories" >

                        <div *ngIf="storiesLoaded" style="display:flex;flex-direction:column;
                        align-items:center;justify-content:center;width:100%;height:100%;">
                            <ngx-skeleton-loader count="1" 
                            count="1"
                            [theme]="{ 
                            'border-radius': '100%',
                            height: '60px',
                            width:'60px',
                            'background-color': '#d3d3d32a',
                            border: '0px solid white'
                            }"
                            ></ngx-skeleton-loader>
                            <ngx-skeleton-loader
                                count="1"
                                [theme]="{ 
                                'border-radius': '5px',
                                height: '15px',
                                width:'100px',
                                margin:'4px',
                                'background-color': '#d3d3d32a',
                                border: '0px solid white'
                                }"
            
                                
                            ></ngx-skeleton-loader>
                        </div>

                        <div class="xelm" *ngIf="!storiesLoaded">
                            <div class="ximg">
                                <img src="./../../assets/default.jpg" *ngIf="story.url.length===0;else showAnotherImg">
                                <ng-template #showAnotherImg>
                                    <img data-src="{{story.url}}">
                                </ng-template>
                            </div>
                            <p>{{story.name}}</p>
                        </div>

                    </div>
                   


                </div>


            </div>


            <div class="posts">
                <br>
                <app-post></app-post>
            </div>
        </div>
    </div>
    <div class="homeRight">
        <div class="topHomeRight">
            <div class="userLogo">

                <img src="./../../assets/default.jpg" *ngIf="!userImg;else otherImg">
                <ng-template #otherImg>
                    <img src={{userImg}}>
                </ng-template>
            </div>
            <div class="info">
                <p style="color:black;">{{emailName}}</p>
                <p style="color:rgba(0, 0, 0, 0.466);font-weight:100;">{{displayName}}</p>

            </div>
            <button (click)="signOut()" >Switch</button>
        </div>

        <div class="suggest">
            <p>Suggestions for you</p>
            <div class="suggestList">
                

                    <div class="userX" *ngFor="let s of suggestList">
                        <img src="./../../assets/default.jpg" *ngIf="!s.url">
                        <img src="{{s.url}}" *ngIf="s.url">
                        <p >{{s.displayName}}</p>
                        <p class="btn"(click)="goSuggest(s.uid)">Follow</p>
                    </div>
                    
                
            </div>
        </div>

        <div class="extras">
            <div class="extrasDetails">
                <a href="https://github.com/chetansharma10/">About</a>
                <a href="https://github.com/chetansharma10/Instagram-Clone">Help</a>
                <a href="https://github.com/chetansharma10/">Support & Others</a>
            </div>
            <div class="copy">
                &copy;2021 INSTAGRAM CLONE COPYRIGHT
            </div>
        </div>
    </div>
</div>

